assets/*
!assets/.gitignore
css/*
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*
protected/config/*
protected/tests/*
protected/views/*
protected/yiic*
themes/classic/views/
logs/*
!logs/.gitignore
index*
